.icon {
  --iconSize: #{fluid-to-laptop(28, 24)};

  @include square(var(--iconSize));

  display: inline-flex;

  /* Свойства нужны чтобы иконки корректно рендерились в Safari */
  svg {
    width: 100%;
    height: 100%;
  }
}